In [1]:
import pandas as pd
import numpy as np
import sklearn as skl
import matplotlib.pyplot as plt
% matplotlib inline

In [2]:
df = pd.read_csv("C:/Users/HP/Desktop/hackathon/Train_pjb2QcD.csv")

In [3]:
df.head()

,ID,Office_PIN,Application_Receipt_Date,Applicant_City_PIN,Applicant_Gender,Applicant_BirthDate,Applicant_Marital_Status,Applicant_Occupation,Applicant_Qualification,Manager_DOJ,...,Manager_Status,Manager_Gender,Manager_DoB,Manager_Num_Application,Manager_Num_Coded,Manager_Business,Manager_Num_Products,Manager_Business2,Manager_Num_Products2,Business_Sourced
0,FIN1000001,842001,4/16/2007,844120.0,M,12/19/1971,M,Others,Graduate,11/10/2005,...,Confirmation,M,2/17/1978,2.0,1.0,335249.0,28.0,335249.0,28.0,0
1,FIN1000002,842001,4/16/2007,844111.0,M,2/17/1983,S,Others,Class XII,11/10/2005,...,Confirmation,M,2/17/1978,2.0,1.0,335249.0,28.0,335249.0,28.0,1
2,FIN1000003,800001,4/16/2007,844101.0,M,1/16/1966,M,Business,Class XII,5/27/2006,...,Confirmation,M,3/3/1969,0.0,0.0,357184.0,24.0,357184.0,24.0,0
3,FIN1000004,814112,4/16/2007,814112.0,M,2/3/1988,S,Salaried,Class XII,8/21/2003,...,Confirmation,F,8/14/1978,0.0,0.0,318356.0,22.0,318356.0,22.0,0
4,FIN1000005,814112,4/16/2007,815351.0,M,7/4/1985,M,Others,Class XII,5/8/2006,...,Confirmation,M,2/7/1971,2.0,1.0,230402.0,17.0,230402.0,17.0,0

In [4]:

df['Applicant_City']=df.Applicant_City_PIN//10000

In [5]:
df['Office_City'] = df.Office_PIN//10000

In [6]:
df['Applicant_BirthDate'] = pd.to_datetime(df.Applicant_BirthDate)

In [7]:
df['Application_Receipt_Date'] = pd.to_datetime(df.Application_Receipt_Date)

In [8]:
  df['Applicant_Age']           = -df['Applicant_BirthDate'].dt.year + df['Application_Receipt_Date'].dt.year

In [9]:
df['Manager_DOJ'] = pd.to_datetime(df.Manager_DOJ)

In [10]:
df['Manager_Exp'] = -df['Manager_DOJ'].dt.year + df['Application_Receipt_Date'].dt.year

In [11]:
df['Application_Receipt_Month'] =  df.Application_Receipt_Date.dt.month

In [12]:
df.columns

Index(['ID', 'Office_PIN', 'Application_Receipt_Date', 'Applicant_City_PIN',
       'Applicant_Gender', 'Applicant_BirthDate', 'Applicant_Marital_Status',
       'Applicant_Occupation', 'Applicant_Qualification', 'Manager_DOJ',
       'Manager_Joining_Designation', 'Manager_Current_Designation',
       'Manager_Grade', 'Manager_Status', 'Manager_Gender', 'Manager_DoB',
       'Manager_Num_Application', 'Manager_Num_Coded', 'Manager_Business',
       'Manager_Num_Products', 'Manager_Business2', 'Manager_Num_Products2',
       'Business_Sourced', 'Applicant_City', 'Office_City', 'Applicant_Age',
       'Manager_Exp', 'Application_Receipt_Month'],
      dtype='object')

In [13]:
df_drop1 = df.drop(['ID','Office_PIN','Application_Receipt_Date','Applicant_City_PIN','Applicant_BirthDate','Manager_DOJ','Manager_DoB','Manager_Business','Manager_Num_Products'],axis=1)

In [14]:
df_drop1.isnull().sum()

Applicant_Gender                 67
Applicant_Marital_Status         73
Applicant_Occupation           1221
Applicant_Qualification          86
Manager_Joining_Designation     683
Manager_Current_Designation     683
Manager_Grade                   683
Manager_Status                  683
Manager_Gender                  683
Manager_Num_Application         683
Manager_Num_Coded               683
Manager_Business2               683
Manager_Num_Products2           683
Business_Sourced                  0
Applicant_City                   97
Office_City                       0
Applicant_Age                    73
Manager_Exp                     683
Application_Receipt_Month         0
dtype: int64

In [15]:
df_drop1.dropna(axis=0,subset=['Manager_Joining_Designation','Manager_Current_Designation','Manager_Grade','Manager_Status','Manager_Gender','Manager_Num_Application','Manager_Num_Coded','Manager_Business2','Manager_Num_Products2','Manager_Exp'],inplace=True)

In [16]:
df_drop1.isnull().sum()

Applicant_Gender                 53
Applicant_Marital_Status         59
Applicant_Occupation           1090
Applicant_Qualification          71
Manager_Joining_Designation       0
Manager_Current_Designation       0
Manager_Grade                     0
Manager_Status                    0
Manager_Gender                    0
Manager_Num_Application           0
Manager_Num_Coded                 0
Manager_Business2                 0
Manager_Num_Products2             0
Business_Sourced                  0
Applicant_City                   80
Office_City                       0
Applicant_Age                    59
Manager_Exp                       0
Application_Receipt_Month         0
dtype: int64

In [17]:
df_drop1.Applicant_Occupation.value_counts()

Salaried         3546
Business         2157
Others           1809
Self Employed     146
Student            96
Name: Applicant_Occupation, dtype: int64

In [18]:
df_dropocc=df_drop1.drop('Applicant_Occupation',axis=1)

In [19]:
df_dropocc.Applicant_Gender.fillna('M',inplace=True)

In [20]:
df_dropocc.Applicant_Marital_Status.fillna('M',inplace=True)

In [21]:
df_dropocc.Applicant_Qualification.fillna('Class XII',inplace=True)

In [22]:
df_dropocc.Applicant_Age.fillna(df_dropocc.Applicant_Age.mean(),inplace=True)

In [31]:
df_dropocc.Applicant_City.fillna(df_dropocc.Applicant_City.median(),inplace=True)

In [32]:
df_dropocc.isnull().sum()

Applicant_Gender               0
Applicant_Marital_Status       0
Applicant_Qualification        0
Manager_Joining_Designation    0
Manager_Current_Designation    0
Manager_Grade                  0
Manager_Status                 0
Manager_Gender                 0
Manager_Num_Application        0
Manager_Num_Coded              0
Manager_Business2              0
Manager_Num_Products2          0
Business_Sourced               0
Applicant_City                 0
Office_City                    0
Applicant_Age                  0
Manager_Exp                    0
Application_Receipt_Month      0
dtype: int64

In [33]:
df_dummy1 = pd.get_dummies(df_dropocc,columns=['Applicant_Gender','Applicant_Marital_Status','Applicant_Qualification','Manager_Status','Manager_Gender','Manager_Joining_Designation','Manager_Current_Designation'],drop_first=True)

In [34]:
labels=df_dummy1.Business_Sourced

In [35]:
df_dummy1.drop('Business_Sourced',axis=1,inplace=True)

In [36]:
from sklearn.preprocessing import StandardScaler

In [37]:
df_trans= StandardScaler().fit_transform(df_dummy1)

In [39]:
from sklearn.cross_validation import train_test_split

C:\Users\HP\Anaconda3\lib\site-packages\sklearn\cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [40]:
train_x,cv_x,train_y,cv_y = train_test_split(df_trans,labels,test_size=0.3,random_state=26)

In [41]:
from sklearn.linear_model import LogisticRegression

In [75]:
model1=LogisticRegression()

In [76]:
model1.fit(train_x,train_y)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [77]:
from sklearn.metrics import accuracy_score

In [78]:
accuracy_score(cv_y,model1.predict(cv_x))

0.63790504898266764

In [79]:
accuracy_score(train_y,model1.predict(train_x))

0.66365105008077541

In [80]:
from sklearn.metrics import roc_auc_score
from sklearn.metrics import classification_report

In [81]:
ROC_AUC = roc_auc_score(cv_y,model1.predict(cv_x))

In [82]:
ROC_AUC

0.50413824012748365

In [83]:
from sklearn import tree

In [148]:
clf1 = tree.DecisionTreeClassifier(min_samples_leaf=100,min_weight_fraction_leaf=0.1)

In [149]:
clf1.fit(train_x,train_y)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=100,
            min_samples_split=2, min_weight_fraction_leaf=0.1,
            presort=False, random_state=None, splitter='best')

In [150]:
accuracy_score(cv_y,clf1.predict(cv_x))

0.64807837226827425

In [151]:
accuracy_score(train_y,model1.predict(train_x))

0.66365105008077541